VUE_APP_DOMEN=127.0.0.1
VUE_APP_HOST=localhost
VUE_APP_PORT=9202
VUE_APP_LOG_DIRECTORY='./logs'
VUE_APP_SERVER_PORT=3010
VUE_APP_LOG_LEVEL='dev' // 'prod', 'dev', 'info', 'error'
VUE_APP_LIM_SCHEDULE_ITEM=10
VUE_APP_LIM_NOTIFICATION_ITEM=6
VUE_APP_LIM_STATISTIC_ITEM=1

# Доступные разделы приложения (true/false)
VUE_APP_FEATURE_DASHBOARD=true
VUE_APP_FEATURE_CONFIGURATION=true
VUE_APP_FEATURE_ABOUT=true
