/* Создание переменных  */
:root {
  --light_font: #E0DFE7;
  --dark_font: #1E1E31;
  --header_color: #4D576C;
  --background_color: #1E1E31;
  --orange: #F97B00;
  --yellow: #F8B01E;
  --violet: #5077f5;
  --green: #34B534;
  --red: #F91E00;

  --sensor-green: #cfeecf;
  --sensor-yellow: #ffe5cc;
  --sensor-red: #fdbbb2;
  --sensor-gray: #808080;
}
.html {
  font-size: 18px; /* Теперь 1rem = 18px */
  height: 100%; 
  margin: 0; 
  padding: 0; 
  /* box-sizing: border-box; */
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: var(--dark_font);
    margin: 0; 
    border: 0px;
    padding: 0px;
    display: grid; 
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  }
   .app {
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    width: 100%;
    background-color: var(--background_color);
    color: var(--light_font);
    font-family:   Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 !important;
    border: 0 !important;
 }

 /* Компонент AppPlace */
.app-place_body {
  border: 0px;
  padding: 30px;
  display: grid; 
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
}
.triangle-container {
  position: relative;
  width: 100vw;
}
.triangle-btn {
  position: absolute;
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  transform: translate(-50%, -50%);
}
#btn1 {
  top: 10%;
  left: 50%;
}
#btn2 {
  top: 70%;
  left: 20%;
}
#btn3 {
  top: 70%;
  left: 80%;
}
.app-place_module {
  width: 100%; 
  max-height: 220px; 
  min-height: 200px;
  background: var(--light_font);
  color: var(--header_color);
  display: grid;
  gap: 32px;
  grid-row: 1fr 5fr;
  justify-items: center;
  border-radius: 16px; 
  border: 1px solid var(--background_color); 
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.6s; /* Плавное изменение размера */
}
.app-place_module:hover {
  transform: scale(1.1); /* Небольшое увеличение при наведении */
}
.app-place_module_h1 {
  height: 40px;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.app-place_module_icon {
  font-size: 2rem;
  height: 140px;
}
.paramPlace {
  padding: 0 1vh 0 1vh;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

 .body {
  flex: 1 1 86%; 
  /* overflow-y: auto; */
  margin: 1 !important;
  border: 0 !important;
  /* display: flex !important; */
  box-sizing: border-box !important;
  background-color: var(--header_color);
  color: var(--light_font);
}
    .mainBody {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Автоматическая подгонка элементов по ширине от 120px до доступного пространства */
      grid-gap: 1.6rem; /* Отступы между элементами */
      background-color: var(--header_color);
      height: 100%;
      width: 100%;
      justify-items: center;
      padding: 1.4rem; /* Отступы внутри контейнера */
      box-sizing: border-box; /* Учитывать padding и border в размерах элемента */
    } 
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-sizing: border-box !important;
  }
  .header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0;
  }
  .header-bottom {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    /* background-color: var(--light_font); */
  }
  .header_place {
  display: grid;
  grid-row: inherit;
  grid-template-columns: 1fr 5fr 1fr;
  height: 8vh;
  width: 100vw
}
.header_arrow {
  box-sizing: border-box !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  margin: 0 1vw 0 1vw;
  transition: transform 0.4s;
}
.header_arrow:hover {
  transform: scale(1.3); /* Небольшое увеличение при наведении */
  /* color: var(--orange) !important; */
  fill: red !important;
  /* stroke: red;
  stroke-width: 2px; */
}


  menu {
    flex-direction: row;
  }
  nav {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #8898a8;
  }
  
  nav a.router-link-exact-active {
    color: var(--orange);
    font-weight: bold;
  }
  .introduce-place {
    /* width: 100vw; */
    align-content: center;
    border: 0px;
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Исправлено на 1fr */
    margin: 0 auto; 
  }
 
  .introduce-button {
    width: 100%;
    max-height: 260px;
    min-height: 220px;
    background-size: auto 70%;
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Запрещаем повторение изображения */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Текст внизу */
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--background_color);
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.6s;
    overflow: hidden; /* Чтобы картинка не выходила за границы */
  }
  
  .color_dark {
    background-color:  var(--header_color); /* Темный цвет текста */
    color: var(--light_font);
  }
  .color-light {
    background-color:  var(--light_font); /* Светлый цвет текста */
    color: var(--header_color);
  }
  .dash {
    background-image: url('@/assets/dash.png');
  }
  .home {
    background-image: url('@/assets/home.png');
  }
  .manuft {
    background-image: url('@/assets/manufact.png');
  }
  .button-text {
    height: 20%; /* Текст занимает 25% высоты кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%; /* Ширина текстового блока */
    text-align: center;
  }
.button-image {
  flex-grow: 1; /* Занимает оставшееся пространство */
  width: 100%;
}
p {
  min-height: 1px;
  margin: 0;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Расстояние между элементами */
  max-width: 600px; /* Максимальная ширина формы */
  margin: 0 auto; /* Центрирование формы */
  padding: 30px;
  /* border: 1px solid var(--light_font_color); */
  border-radius: 16px;
  background-color: var(--header_color);
  /* box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5); */
}
form div {
  display: flex;
  align-items: center;
  gap: 10px;
}
    .sensor-card {
      min-width: 180px;
      width: 100%;
      max-width: 56vw;
      min-height: 160px;
      max-height: 180px;
      display: grid;
      grid-template-rows: 1fr 5fr 1fr;
      flex-direction: column;
      justify-items: center; /* Центрирование содержимого по вертикали */
      align-items: center;     /* Центрирование содержимого по горизонтали */
      background-color: var(--background_color);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для визуального эффекта */
      padding: 0.6rem;
      box-sizing: border-box; /* Учитывать padding и border в размерах элемента */
      transition: transform 0.4s; /* Плавное изменение размера */
      border-radius: 16px; 
      border: 0.08rem solid var(--sensor-gray); 
      box-shadow: 0 8px 6px rgba(0, 0, 0, 0.15);
    }
    .sensor-card.selected{
      border: 0.2rem solid var(--orange);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
      transform: scale(1.08);
      z-index: 12
    }
    .mainBodyValue:hover {
      transform: scale(1.08); /* Небольшое увеличение при наведении */
    }

    /* SVG Иконки */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box !important;
    margin: 10px;
}
.icon.big {
  fill: var(--light_font);
  /* display: block; */
  width: 4vh;
  height: 4vh;
}
.icon:hover {
  fill: var(--violet);
  stroke: var(--background_color);
  stroke-width: 1vh;
}
.icon.small {
  fill: var(--light_font);
  /* display: block; */
  /* width: 2vh; */
  height: 4vh;
}


    .sensor-header {
      height: 2.4rem;
      align-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 800;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    .sensor-value {
      height: 4rem;
      align-content: center;
      font-size: 2.6rem;
      font-weight: 500;
      letter-spacing: 4px;
    }
    .sensor-value.selected-value {
      height: 2rem;
      align-content: center;
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 3px;
      color: var(--light_font);
      opacity: 0.8;
    }
    .sensor-SetValue {
      height: 2rem;
      align-content: center;
      color: var(--orange);
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 3px;
    }
    .sensor-SetValue.selected-setvalue {
      height: 4rem;
      color: var(--orange);
      font-size: 2.6rem;
      font-weight: 500;
      letter-spacing: 4px;
      opacity: 1;
    }
    .sensor-footer {
      height: 1.4rem;
      align-content: center;
      font-size: 0.85rem;
      font-weight: 200;
      letter-spacing: 2px;
      color: var(--sensor-gray);
    }
form label {
  flex: 0 0 180px;
  align-items: end;
  align-self: flex-end;
  align-content: flex-end;
  font-size: 18px;
  color: var(--light_font_color);
}
form input,
form select {
  flex: 1;
  padding: 14px;
  font-size: 18px;
  border: 1px solid var(--light_font);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.5s ease;
}
form input:focus,
form select:focus {
  border-color: var(--orange);
  border-width: 4px;
}
form button {
  align-self: flex-end;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: var(--violet);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

form button:hover {
  background-color: var(--violet);
}

form button:active {
  background-color: var(--orange);
}
.footer {
    flex: 0 0 6%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
/* setpointBlock */
.setpointBlock {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: stretch;
  width: 100%;
  background-color: var(--background_color);
  box-sizing: border-box; /* Учитывать padding и border в размерах элемента */
  margin: 0;
  box-shadow: 0vw -3vw 6vw rgba(225, 225, 225, 0.15), 0vw 2vw 3vw rgba(225, 225, 225, 0.15),inset 12vw 0 8vw -6vw rgba(0, 0, 0, 0.8), inset -12vw 0 8vw -6vw rgba(0, 0, 0, 0.8);
}
.setpointValue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  box-sizing: border-box;
  padding: 1vw 1.5vw 0 1.5vw;
}

.setpointValue_number {
  min-width: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  color: var(--light_font);
}
.setpointValue_icon {
  height: 6vh;
  width: 38vw;
  display: flex;
  align-items: center;
  box-sizing: border-box; 
}

.setpointValue h1 {
  /* align-items: center; */
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin: 0;
  padding: 0;
}

.setpointLimits {
  display: flex;
  height: 3vw;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 4vw;
}
.setpointLimits h4 {
  margin: 0;
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
  color: var(--light_font_color);
  font-weight: 500;
}


/* Адаптация для узких экранов */
@media (max-width: 780px) {
  .introduce-place {
    grid-template-columns: 1fr; /* Одна колонка */
    width: 80%;
    justify-items: center; /* Центрирование по горизонтали */
    padding: 15px;
  }
}
@media (max-width: 500px) {
  .introduce-place {
    grid-template-columns: 1fr; /* Одна колонка */
    justify-items: center; /* Центрирование по горизонтали */
    padding: 15px; /* Уменьшение отступов для узких экранов */
  }
  .introduce-button {
    max-width: 300px; /* Максимальная ширина кнопки */
  }
  .error {
    color: red;
  }
}